/************************************/
/*            CSS EMPRESA           */
/************************************/

#coluna #a-empresa{
	width:650px;
	height:auto;
	background:#FFF;
	padding:25px;
	color:#333;
	line-height:25px;
}

	
	